<h1>
<%= @author.first_name %>  <%= @author.last_name %>
</h1>

<h2 class="info">
  <%= @author.email %>
</h2>

<p>
  <%= @author.about %>
</p>

<h2>Articles:</h2>
<ul>
<% @articles.each do |article| %>
  <li><%= article.title %>
      <%= link_to "Read", article_path(article) %>
  </li>

<% end %>
</ul>

